@import 'nib'

.dragging
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7)
  border-radius: 5px 5px
  -webkit-transform: rotate(7.5deg)

.drop
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.7)
  border-radius: 8px

.magic
  background: red

